@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example of extending Tailwind with custom styles */
.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md;
}

/* Adding custom, non-Tailwind CSS */
.custom-class {
  background-color: #f0f0f0;
  color: #333;
}
